@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(93, 119, 133);
    --primary-color-darker: rgb(76, 98, 110);
    --imc-primary-color: rgba(0, 254, 193);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 640px;
    border-radius: 15px;
    margin: 20px auto;
    background-color: aliceblue;
    padding: 20px;
    width: 100%;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;  
}

form input {
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    margin: 30px 0;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

form button:active {
    background-color: red;
}
.imc-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
}

.title-imc {
    font-weight: 700;
}

.resultado-style, .resultado-style-invalid {
    padding: 5px;
    font-size: 19px;
    font-weight: 600;
}

.resultado-style {
     background-color: var(--imc-primary-color);
}

.resultado-style-invalid {
    background-color: rgb(255, 145, 145);
}